%h1 Listing preview_posts

%table
  %tr
    %th
    %th
    %th

  - @preview_posts.each do |preview_post|
    %tr
      %td= link_to 'Show', preview_post
      %td= link_to 'Edit', edit_preview_post_path(preview_post)
      %td= link_to 'Destroy', preview_post, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Preview post', new_preview_post_path
